/* comment */
/* css */

/* Main event type shit */
body {
background-color: rgb(235 227 213);
color: rgb(0, 0, 0);
text-align: left;
font-size: 20px;
padding-left: 30%;
}
section {
height: 100vh; /*temp for testing*/
}
@media (max-width: 768px) {
.computeronly {
    display: none;
}
}
@media (min-width: 769px) {
.phoneonly {
    display: none
}
}
a {
color: rgb(255, 255, 255);       /* Normal (unvisited) link */
}
a:visited {
color: rgb(167 146 119);            /* Visited link */
}
a:hover {
color: rgb(92, 126, 143);          /* When hovered over */
}
a:active {
color: rgb(210, 141, 73);             /* When clicked */
}


#topBar {
position: fixed;
background-color: rgb(235 227 213);
top:0;
right:0;
width: 100%;
height: 100px;
font-size: 20px;
transition: transform 1.2s ease;
transform: translateY(0%);   
z-index: 10;     
}
#topBar.hide {
transform: translateY(-100%);
}

#nametopbar {
    text-align: left;
    padding-left: 2%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

#topbarmenu {
    display: flex;
    position: fixed;
    gap: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
}

#contactinfo {
    display: flex;
    position: fixed; 
    right: 30px;
    top: 30px;
    line-height: 1.4;
    text-align: right;
    font-size: 15px;
    gap: 20px;
}

.contact-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.contact-btn img {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
  transition: transform 0.2s ease;
}

.contact-btn:hover img {
  transform: scale(1.2);
}

.side-images {
    position: relative; 
    left: 30px;
    top: 50px;
}

.tilt {
    transform: rotate(15deg);
}



.copytext {
text-decoration: underline;
cursor: pointer;
}
.copytext:hover {
color: rgb(92, 126, 143);
}
.copytext.active {
color: rgb(247, 60, 247);
}
#name {
text-align: left;
font-family: Baskerville, "Baskerville Old Face", "Times New Roman", serif;
font-size: 60px;
}


/* cv button style */
.cvbtn {
background-color: rgb(162 162 162);
width: 2cm;
height: 15mm;
color: rgb(255, 255, 255);
position: fixed;
border-radius: 12px;
border: 2px solid rgb(255 255 255);
}
.cvbtn:hover {
/*background-color: rgb(15, 177, 45);*/
border-color: rgb(92, 126, 143);
cursor: pointer;
}
#cv {
top: 25px;
right: 25px;
}


/*
.switch {
top: 90%;
right: 35%;
position: absolute;
width: 50px;
height: 24px;
}

.switch input {
opacity: 0;
width: 0;
height: 0;
}


 The slider background, deleted 
.slider {
position: absolute;
cursor: pointer;
top: 0; left: 0; right: 0; bottom: 0;
background-color: #ccc;
transition: 0.4s;
border-radius: 24px;
}

 The circle inside, deleted
.slider::before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 3px;
bottom: 3px;
background-color: white;
transition: 0.4s;
border-radius: 50%;
}

 When checked, deleted 
input:checked + .slider {
background-color: #172a17;
}

input:checked + .slider::before {
transform: translateX(26px);
}
*/

/* picture style */
.picture {
    width: 20%;
    height: auto;
    border-radius: 20px;
}

#intro {

}